.userinfo{
	width: 70%;
	text-align: center;
	float: right;
}
.userinfo-item{
	margin-bottom: 20px;
    height: 42px;
    line-height: 42px;
    color: #333;
}
.userinfo-item label{
	padding: 0px 15px;
    font-size: 14px;
    float: left;
    width: 20%;
    text-align: right;
    margin-bottom: 0px;
}
.userinfo-item span{
	float: left;
	font-size: 14px;
	color: #999;
}